body{
  text-align: center;
  Background-color: #f0e8c5;
}

Div{
  margin-top: 15px;
}

table{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td{
  border-collapse: collapse;
  width: 200px;
  height: 35px;
}

td{
  background-color: white;
}

.grieve-deng, .deng, .grieve{
  display: flex;
  justify-content: left;
}

.section-style{
  margin-right: 25px;
  Margin-left: 25px;
  background-color: white;
}